@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

/*footer*/
body {
    margin: 0;
    padding: 0;
    font-family: Lora;
}
footer {
    margin-top: 20px;
    bottom: 0px;
    width: 100%;
    background-color: #0f4c81;
    color: white;
    text-decoration: none;
}

    footer a {
        color: white;
        text-decoration: none;
    }

.main_content {
    display: flex;
    margin: 0 auto;
}

    .main_content .left {
        flex-basis: 50%;
        padding: 70px 20px;
    }

    .main_content .nextleft {
        flex-basis: 50%;
        padding: 10px 20px;
    }

    .main_content .right {
        flex-basis: 50%;
        padding: 10px 20px;
    }

    .main_content .nextright {
        flex-basis: 50%;
        padding: 10px 20px;
    }

.left h2 {
    font-size: 40px;
    text-align: center;
}

.main_content .content {
    margin: 10px 0 0 0;
}

.main_content .social a {
    font-size: 30px;
    padding: 2px 2px
}

    .main_content .social a span {
        margin-top: 30px;
        width: 40px;
        height: 40px;
    }
